.bg-custom {
    background-color: #E8EFF9 !important;
  }
.navbar-brand{
    color: #F2125E;
    font-size: x-large;
    font-weight: bold;
}
.button-custom{
    background-color: #392CCD;
    color: white;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 7px;
}
.badge-custom {
    position: absolute;
    border-radius: 50%;
    color: white;
    font-size: 0.75em;
  }
.line{
  background-color: red;
  height: 1px;
}
.bg-dashboard{
  background-color: #414147;
}

.responsive{
    flex-direction: row;
  }
@media screen and (max-width: 768px) {
.responsive{
  flex-direction: column;
}
  }

@media screen and (max-width: 768px) {
.responsive-project{
  width: 100%;
}
  }

.new-logo{
  color: #F2125E;
}

.my-link {
  text-decoration: none; /* Remove underline by default */
  transition: text-decoration 0.3s, font-weight 0.3s; /* Add a transition for smooth effect */
}

.my-link:hover {
  text-decoration: underline; /* Add underline on hover */
  font-weight: bold; /* Make text bold on hover */
}

